<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head') %>
</head>

<body id="fucker">
    <nav>
        <%- include('../layout/navbar') %>
    </nav>
    <!-- <div id="loginCreateFormDiv">
    <button onclick="flipLogin()">Switch between Login/create user</button>     
    <form action="/createUser" method="post" id="createuser">
        <p><input type="text" name="loginform" placeholder="Badge number" required></p>
        <p><input type="password" name="loginform" placeholder="Password" required></p>
        <p><input type="password" name="loginform" placeholder="Re-enter password" required></p>
        <p><select name="loginform">
            <% languagesArray.forEach(language => { %>
            <option name="loginform" value="<%- language.language %>">
                <%= language.name %>
                <% }); %>
        </select></p>
        <p><button type="submit">Create New User</button></p>
    </form> -->


    <div id="maintext">
     
    </div>


    <div class="grid-container">
        <div class="left1">left1</div>

        <div class="mid1"><img src="https://via.placeholder.com/50x50"></div>

        <div class="right1">right1</div>

        <div class="left2">left2</div>

        <div class="mid2">
          <p>FMLA Leave Planner</p>
          <p>Welcome to the FMLA Leave Planner Home Page. Please input your badge number, password, and your desired language.</p>
        </div>

        <div class="right2">right2</div>

        <div class="left3">left3</div>
<% const dayFinder = () => Math.floor((((new Date()) - (new Date(new Date().getFullYear(), 0, 0))) / 525600 / 60000) * 365) %>
        <div class="mid3"><form action="/login" method="post" id="logform">
          <input type="hidden" name="currentDay" value="<%- dayFinder() %>" id="replacewithdayofyear">
          <input type="hidden" name="dayOfWeek" value="<%- new Date().getDay() %>">
          <p><input type="text" name="badgeNumber" placeholder="Badge Number" required></p>
          <p><input type="password" name="password" placeholder="password" required></p>
          <p><select name="language">
          <% languagesArray.forEach(language => { %>
          <option name="language" value="<%- language.language %>">
          <%= language.name %>
          <% }); %>
          </select></p>
          <p><button type="submit">Submit</button></p>
        </form>
      </div>

      <div class="right3">right3</div>
      </div>

      <div class="container">
    </div>
</body>
<!-- <footer>
    <%- include('../layout/footer') %>
</footer> -->

</html>
