<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head') %>
</head>

<body>
    <nav>
        <%- include('../layout/navbar') %>
    </nav>
    <div id="loginCreateFormDiv">
    <button onclick="flipLogin()">Switch between Login/create user</button>     
    <form action="/createUser" method="post" id="createuser">
        <p>
        <input type="text" name="loginform" placeholder="Badge number" required>
        </p>
        <p>
        <input type="password" name="loginform" placeholder="Password" required>
        </p>
        <p>
        <input type="password" name="loginform" placeholder="Re-enter password" required>
        </p>
        <p>
        <select name="loginform">
            <% languagesArray.forEach(language => { %>
            <option name="loginform" value="<%- language.language %>">
                <%= language.name %>
                <% }); %>
        </select>
        </p>
        <p>
        <button type="submit">Create New User</button>
        </p>
    </form>


    <form action="/login" method="post" id="loginform">
        <p>

        <input type="text" name="loginform" placeholder="Badge Number" required>

        </p>

        <p>
        <input type="password" name="loginform" placeholder="password" required>
        </p>

        <p>
        <select name="loginform">
            <% languagesArray.forEach(language => { %>
            <option name="loginform" value="<%- language.language %>">
                <%= language.name %>
                <% }); %>
        </select>
        </p>
        <p>
        <button type="submit">Log in to existing user</button>
        </p>
    </form>
</div>
    
</body>
<footer>
    <%- include('../layout/footer') %>
</footer>

</html>
