<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
</head>

<body>
  <nav>
    <%- include('../layout/navbar') %>
  </nav>



  <div id="hoursForm">
    <form action="/submitUserHours" method="post" id="hoursForm">
      <% pageData.days.forEach(day => { %>
      <div class="dayclass width100">
      <div class="width100"><%= day.dayOfWeek %></div>
      <input type="text" name="hours" placeholder="0" class="hourinput">
      <input type="hidden" name="daynumber" value="<%- day.dayOfYear %>">
      <input type="hidden" name="badge" value="<%- day.badgeNumber %>">
      <% }); %>
      
    </div>
      <button class="hourSubmitButton"type="submit"><%= pageData.text %></button>
    </form>
  </div>

