<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
</head>

<body>
  <nav>
    <%- include('../layout/navbar') %>
  </nav>


  Congrats you made it to the user.ejs screen

  <div id="hoursForm">
    <form action="/updateHours" method="post" id="hoursForm">

      <% pageData.days.forEach(day => { %>
      <div>
        <%= day %>
        <input type="text" name="hoursForm" placeholder="0">
      </div>
      <% }); %>

      <button type="submit"><%= pageData.text[0] %></button>
    </form>
  </div>

  <div>
    <p>
      -----------------------------second text field-----------------------
      <p><%= pageData.text[1] %></p>
    </p>
  </div>

  <div>
    <p>
      -----------------------------third text field----------------------------------------
      <p><%= pageData.text[2] %></p>
    </p>
  </div>
